:root {
  --body-background-color: #faf9fe;
  --body-text-color: #666;
  --card-background-color: #ffffff;
  --nav-background-color: #ffffff;
  --nav-border-bottom-color: #dddddd;
  --nav-current-border-bottom-color: #ff6d5a;
  --card-border-color: #dddddd;
  --down-border-left-color: #eb2222;
  --down-background-color: #ffd0d2;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #40c351;
  --tag-color: #ffffff;
  --tag-up-background-color: #40c351;
  --tag-down-background-color: #e67070;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #eb2222;
  --error-button-background-color: #e67070;
  --error-button-color: #ffffff;
  --submit-button-border-color: #ff6d5a;
  --submit-button-background-color: #fff;
  --submit-button-color: #666;
  --graph-opacity: 1;
  --graph-filter: none;
}
